.container{
    height:500px;
    width:100%;
    display:flex;
    flex-direction: column;
    margin-top:100px;
}
.form-container
{
    height:500px;
    width:50%;
    margin-left:25%;
    background-color:rgb(230, 128, 128);
    display:flex;
    flex-direction: column;
    border-radius:10px;
}
.heading{
    height:60px;
    background-color:peru;
    width:100%;
    text-align: center;
    font-size:2em;
    font-family: sans-serif;
    line-height:5px;
    border-radius:10px;
}
.form{
    height:440px;
    width:60%;
    margin-left:20%;
    background-color: rgb(230, 128, 128);;
}
label{
    font-size:1.5em;
}
input[type=text] {
    height:30px;
    width:180px;
    border-radius:10px;
    border-radius:10px;

    box-sizing: border-box;
  }
  input[type=submit]{
      height:30px;
      width:60px;
      background-color:peru;
      border-radius: 5px;
      box-shadow:greenyellow;
  }
  input[type=reset]{
    height:30px;
    width:60px;
    background-color:peru;
    border-radius: 5px;
}